@page "/chats/{Id:int}"
@using InternshipChat.DAL.Entities;
@using InternshipChat.WEB.Services.Contracts;
@inject IChatService chatService

<div class="d-flex flex-grow-1 flex-row">
    <MudPaper Elevation="25" Class="py-4 flex-grow-1">
        <MudToolBar Dense="true">
                <MudIcon Icon="@Icons.Material.Outlined.ChatBubble" Style="margin-right:10px"></MudIcon>
                <MudText Typo="Typo.h6">@OpenedChat.Name</MudText>
        </MudToolBar>
        <div class="d-flex flex-column px-4 align-items-end" style="max-height:65vh;min-height:65vh; overflow:scroll; text-align:right;" id="chatContainer">
            @foreach (var message in messages)
            {
                <div class="d-flex flex-row my-4">

                    <div>
                        <MudText Typo="Typo.body1">@message.Id</MudText>
                        <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@message.CreatedDate.ToString("dd MMM, yyyy hh:mm tt")</MudText>
                        <MudText Typo="Typo.body2" Style=" padding: 15px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px">@message.MessageContent</MudText>
                    </div>
                </div>
            }
        </div>
        <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4" Style="">
            <MudTextField T="string" Placeholder="Enter your message..." DisableUnderLine="true" Class="mt-n2 mx-4"
                          @bind-Value="CurrentMessage" For="@(()=> CurrentMessage)" />
            <MudButton StartIcon="@Icons.Material.Outlined.Send" Color="Color.Primary" ButtonType="ButtonType.Button">Send</MudButton>
        </MudPaper>
    </MudPaper>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private string CurrentMessage { get; set; }
    private Chat OpenedChat { get; set; } = new();
    private List<Message> messages { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        OpenedChat = await chatService.GetChatById(Id);
        messages = OpenedChat.Messages.ToList();
    }

}
