@page "/users/{UserId:int}"

@using InternshipChat.DAL.Entities
@using InternshipChat.Shared.Models;
@using InternshipChat.WEB.Services.Contracts
@using MudBlazor;
@using InternshipChat.WEB.Helpers;
@inject IUserService userService

<h3>User Details</h3>

<MudGrid>
    <MudItem md="12" sm="12" Class="d-flex align-items-center">
        <MudInputLabel Class="mr-2">Email:</MudInputLabel>
        <MudTextField @bind-Value="@User.Email"/>
    </MudItem>
    <MudItem md="12" sm="12" Class="d-flex align-items-center">
        <MudInputLabel Class="mr-2">First name:</MudInputLabel>
        <MudTextField @bind-Value="@User.FirstName"/>
    </MudItem>
    <MudItem md="12" sm="12" Class="d-flex align-items-center">
        <MudInputLabel Class="mr-2">Last name:</MudInputLabel>
        <MudTextField @bind-Value="@User.LastName" />
    </MudItem>
    <MudButton Class="ml-2" Variant="Variant.Filled" Color="Color.Primary" OnClick="@UpdateUser">Save</MudButton>

    <!-- <MudItem lg="4" md="6" sm="12">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h4" Class="mb-4">First name: @User.FirstName</MudText>
            <MudText Typo="Typo.h4">
                Last name: @User.LastName
            </MudText>
        </MudPaper>
    </MudItem> -->
</MudGrid>

@code {
    public User User { get; set; } = new User();

    [Parameter]
    public int UserId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        User = await userService.GetUserAsync(UserId);
        if (User != null)
        {

        }
    }

    private void UpdateUser()
    {
        Console.WriteLine(User.FirstName);
        Console.WriteLine(User.LastName);
        Console.WriteLine(User.Email);
    }
}
