@page "/users"
@using InternshipChat.DAL.Entities
@using InternshipChat.Shared.Models;
@using InternshipChat.WEB.Services.Contracts
@using Microsoft.AspNetCore.WebUtilities;
@using MudBlazor;
@using InternshipChat.WEB.Helpers;
@inject IUserService userService
@inject NavigationManager Navigation

<h3>Users</h3>

<MudTable OnRowClick="@ShowUserDetails" T="User" ServerData="@(new Func<TableState, Task<TableData<User>>>(GetServerData))"
          Dense="false" Hover="true" @ref="table">
    <ToolBarContent>
        <MudSpacer />
        <MudTextField OnDebounceIntervalElapsed="OnSearch" DebounceInterval="500" T="string" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="email" T="User">Email</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="firstName" T="User">First Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="lastName" T="User">Last Name</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="First Name">@context.FirstName</MudTd>
        <MudTd DataLabel="Last Name">@context.LastName</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="@_pageSizeOption"/>
    </PagerContent>
</MudTable>

@code {
    private MudTable<User> table;
    private UserParameters _userParameters = new UserParameters();
    private readonly int[] _pageSizeOption = { 4, 6, 10 };
    private string _queryParameters = string.Empty;
    private bool serverDataLoaded = false;

    private int totalItems;

    private async Task<TableData<User>> GetServerData(TableState state)
    {
        if (!serverDataLoaded)
        {
            serverDataLoaded = true;
            state = SetTableStateFromQueryParameters();
        }
        _userParameters.PageSize = state.PageSize;
        _userParameters.PageNumber = state.Page + 1;
        _userParameters.OrderBy = state.SortDirection == SortDirection.Descending ?
            state.SortLabel + " desc" :
            state.SortLabel;

        UpdateQueryParameters();

        var response = await userService.GetUsersAsync(_queryParameters);
        
        return new TableData<User>()
            {
                Items = response.Items,
                TotalItems = response.TotalCount
            };
    }

    public void ShowUserDetails(TableRowClickEventArgs<User> user)
    {
        Navigation.NavigateTo($"users/{user.Item.Id}");
    }

    private void UpdateQueryParameters()
    {
        var stringParams = userService.GenerateQueryStringParams(_userParameters);
        _queryParameters = QueryHelpers.AddQueryString("", stringParams);

        Navigation.NavigateTo("users/" + _queryParameters);
    }

    private void OnSearch(string searchTerm)
    {
        _userParameters.SearchTerm = searchTerm;
        table.ReloadServerData();
    }

    private TableState SetTableStateFromQueryParameters()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var newTableState = new TableState
            {
                Page = QueryParamParser.ParseQueryParameter<int>(uri.Query, "pageNumber") - 1,
                PageSize = QueryParamParser.ParseQueryParameter<int>(uri.Query, "pageSize")

            };
        _userParameters.SearchTerm = QueryParamParser.ParseQueryParameter<string>(uri.Query, "searchTerm");
        return newTableState;
    }
}
